{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/styleCadastro.css' %}">
</head>

<body>
    <form action="" class="bloco" method='POST'> {% csrf_token %}
        {% for message in messages %}
        {% if message  %}
            <h1>{{message}}</h1>
        {% endif %}
        {% endfor %}
        <div class="alinha">
            <h1>Cadastre-se</h1>
            <div>
                <div class="campos">
                    <p>Usuario</p>
                    <input name="usuario" class="inp" type="text">
                    <p>Senha</p>
                    <input name="senha" class="inp" type="text">
                    <p>Confirma Senha</p>
                    <input name="senha_2" class="inp" type="text">
                </div>
            </div>
            <div class="divbox">
            <input type="checkbox" name="" id="">
            <p>(Obrigatório) Leia e aceite os
                <a href="">Termos e Condições</a>
            </p>
            </div>
            <a href="Login.html">
                <button>Cadastrar</button>
            </a>
            
            
        </div>
    </form>

</body>

</html>