{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styleLogin.css' %}">
</head>

<body>
    {% for message in messages %}
        {% if message  %}
            <h1>{{message}}</h1>
        {% endif %}
    {% endfor %}
    <form class="bloco" method="POST"> {% csrf_token %}
        <h1>Login</h1>

        <div class="campos">
            <p>Usuario</p>
            <input name="usuario" class="inp" type="text" placeholder="EX: vitor.kuhnen">
        </div>
        <div class="campos">
            <p>Senha</p>
            <input name="senha" class="inp" type="password" placeholder="***********">
        </div>
        <div class="divbox">
            <input class="check" type="checkbox">
            <p>Lembra da Senha
            </p>

        </div>

        <div class="buttom">
            <a href="">
                <button type="submit" class="logar">Logar</button>
            </a>

            <a href="{% url 'cadastro' %}">Cadastro
                {% comment %} <button class="cadastrar">Cadastrar</button> {% endcomment %}
            </a>
        </div>
    </form>
</body>

</html>